
body {
  background: #eee;
  font-family: 'Lily Script One';
}

button.submit {
  float: right;
}

form#flashcard {
  margin-top: 50px;
}

#flashcard textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}
