body {
  background: #eee;
  font-family: 'Lily Script One';
}

button.submit {
  float: right;
}

form#blog {
  margin-top: 50px;
}

#blog textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

#titleLabel {
  font-size: 36px;
}

.apptitle {
  color: #F8F5CA;
  border-width: 4px;
  border-style: solid;
  border-color: #F8F5CA
}

.parallax-container {
  height: 400px;
}

.navbar{
  background-color:#464646
}

.sectiondivider {
  background-color: #BBC595;
  height: 30px;
}

.journey {
  font-family: 'Kalam', cursive;
}

.track {
  font-family: 'Open Sans Condensed', sans-serif;
}

.footer {
  background-color:#464646
}

.footertext {
  color: white;
}